*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

input,
button,
select,
textarea {
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  height: 1800px;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* Toàn thể */
.container {
  max-width: 1520px;
  margin: 0 auto;
}

/* ảnh */
.anh>img{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
}

/* Menu */
.menu > ul > li {
  line-height: 30px;
  display: inline-block;
  position: relative;
 
}
/* Menu trong chữ */
.menu > ul > li > a {
  display: block;
  text-decoration: none;
  font-variant: small-caps;
  font-size: large;
  color: white;
  line-height: 40px;
  padding: 0 10px;
  font-size: 15px;
  height: 38px;
  display: block;
  clear: both;
  text-transform: uppercase;
  
}
.menu ul {
  font-size: 14px;
  line-height: 25px;
  text-align: left;
  padding: 0px 15px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.menu > ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  background-color: green;
  text-align: left;
  width: 100%;
  top: 0;
  line-height: 25px;
}                          
.menu > ul > li > a:hover {
  color: yellow;
  background: orangered;
  transition: all 0.5s linear;
}
/* hình ngôi nhà */
.bx-home-alt {
  height: 16px;
  width: 20px;
  font-size: 16px;
}
/* kết thúc */
.menu ul ul {
  position: absolute;
  display: none;
  background-color: white;
  bottom: 5px;
  padding: 0px;
  margin: 0px;
  list-style: none;
  border-radius: 2px;
  box-shadow: 0 0 3px gray;
  width: 230px;
  height: 80px;
  top: 39px;
}
.menu ul ul li a {
  display: block;
  line-height: 22px;
  width: 230px;
  color: black;
  text-decoration: none;
  padding: 4px 8px;
  font-size: 14px;
  height: 30px;
}
.menu > ul > li:hover > ul {
  display: block;
}
.menu ul ul a:hover {
  background-color: lightgray;
  color: green;
  border-left: 2px solid;
}
/* Nội dung */
.container > article {
  min-height: auto;
  width: 55%;
  background-color: white;
  background-size: 100%;
  float: left;
}
/* Bọc Tiêu đề của nội dung */
.Tieudechinh {
  min-height: auto;
  max-width: 100%;
  min-width: auto;
  height: 365px;
}
/* Link liên kết web*/
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #004580;
}
/* Bọc tiêu đề con */
.anh-tieude {
  width: 835px;
  height: 203px;
  margin: 8px 0 0 0;
  display: flex;
}
.anh-tieude a {
  font-weight: bold;
}
/* Tiêu đề chữ */
.chu-tieude {
  height: 183px;
  min-height: auto;
  max-width: 50%;
  width: 600px;
  min-width: auto;
  padding: 0 15px;
}
.chu-tieude > p {
  font-size: 16px;
  margin: 0 0 16px 0;
}
.anh-tieude > img {
  height: 203px;
  width: 370px;
}

#time {
  color: gray;
  margin: 0 5px;
  padding: 0 0 0 3px;
  font-size: 13px;
  line-height: 24px;
}
.vanban-tieudetrai {
  height: 81px;
  width: 385px;
  min-height: auto;
  padding: 0 0 0 15px;
  line-height: 24px;
  max-width: 50%;
  position: relative;
  font-weight: bold;
}
.vanban-tieudephai {
  position: relative;
  height: 81px;
  padding: 0 15px;
  float: right;
  bottom: 22%;
  width: 385px;
  max-width: 50%;
  min-width: auto;
  font-weight: bold;
}
.vanban-nho > p {
  font-size: 13px;
  margin: 8px 0px;
  padding: 0 0 0 3px;
  color: gray;
}
.vanban-nho > a {
  font-size: 14px;
  padding: 0 5px 0 0;
}
/* trái */
.container > aside {
  border-left: 1px solid lightgray;
  width: 25%;
  background-color: white;
  background-size: 100%;
  float: right;
  height: 1600px;
  box-shadow: inset 0 0 5px lightgrey;
}
/* phải */
section {
  border-right: 1px solid lightgray;
  min-height: 800px;
  width: 20%;
  background-color: white;
  background-size: 100%;
  float: left;
  height: 1600px;
  box-shadow: inset 0 0 5px lightgrey;
}
/* dưới */
.container > footer {
  border-top: 1px solid lightgray;
  line-height: 51px;
  text-align: center;
  clear: both;
  background-color: lightcyan;
  background-size: 100% 100%;
  border-bottom: 1px solid black;
}
.footer > img {
  width: 150px;
  margin-left: 20%;
  margin-right: 40px;
  border-right: 2px solid green;
}
p {
  text-align: left;
  font-size: larger;
  height: auto;
  width: auto;
  text-align: justify;
}
.aside > ul > li > a {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  height: 44px;
  width: 359px;
  color: black;
  text-decoration: none;
  display: inline-block;
}
.aside ul li a {
  list-style-type: none;
}
.aside ul {
  list-style-type: none;
}
.aside > ul > li > a:hover {
  color: #004580;
}

h1 {
  text-align: center;
}
.chu {
  font-size: 15px;
}
/* Tiêu đề bên phải */
.tieude {
  font-size: 16px;
  height: 38px;
  border-bottom: 1px solid green;
  border-left: 5px solid green;
  padding: 7px 10px;
  display: block;
}
.tieude {
  background-color: whitesmoke;
  box-shadow: inset 0 0 5px lightgrey;
}
.tieude > p {
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  color: green;
  display: inline;
  height: 23px;
  width: 356px;
  padding: 0 0 0 10px;
}
.tieude > p > a {
  text-decoration: none;
  color: black;
}
.tieude > p > a:hover {
  font-weight: bold;
  color: #004580;
  font-weight: 700;
}
/* Bản đồ */
.tieude > a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}
.tieude > a:hover {
  font-weight: bold;
  color: #004580;
}
/* kết thúc bản đồ */
/* Gim về trang đầu */
.codinh {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: green;
  height: 40px;
  width: 40px;
  font-size: 30px;
}
/* Công cụ cố định */
.bx-chevron-up {
  color: #ffffff;
  text-align: center;
}
.bx-chevron-up:hover {
  font-weight: 700;
}
/* Kết thúc cố đ */
/* tìm kiếm */
.timkiem {
  position: fixed;
  top: 0;
  right: 0;
  outline: none;
  border-radius: 5px;
}
.timkiem > input {
  border-radius: 5px;
  min-width: 200px;
  height: 35px;
  margin: 0px 5px;
}
button {
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
  height: 35px;
  margin: 0px 5px;
}
.bx-search {
  width: 18px;
  height: 18px;
}
/* kết thúc công cụ tìm kiếm */
/* CHỮ CHẠY */
marquee {
  color: green;
  background-color: white;
  height: auto;
  font-weight: bold;
  font-size: 13px;
}
